@media screen and (max-width:576px) {

  /* navber responsive */
    .nav-options{
        display: none;
    }
   .nav-container > .hamburger{
      display: block;
    color: aliceblue;
    font-size: 30px;
    }

    /* header section responsive */
    .header-container{
        
        background: linear-gradient(180.00deg, rgb(41, 40, 40),#151414e4 100%);
       
      }
    .header-content{
        flex-direction: column;
    }
    .header-content-title {
      width: 90%;
    }
    .header-content-title > h1{
        font-size: 44px;
    }
    .header-content-title > p{
        width: 250px;
        font-size: 14px;
    }
    .header-content-img-btn{
        left: 0px;
    }
    .header-content-img-btn-two{
      top: 83px;
      left: 200px;
    }
    /* header section ends here */


    /* banner section styles starts here */
    .card-container{
      width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
      .banner-content-title > h2{
        padding: 15px 0px 10px 0px;
        font-size: 35px;
      }
      .banner-content-title > p{
        padding: 5px 0px 5px 0px;
        font-size: 15px;
     
      }

      /* running section starts here */
      .running-container{
        margin: 0 20px;
        flex-direction: column;
        gap: 25px;
       
        padding: 25px;
      }
      .running-container-title{
        width: 100%;
      }
      .running-img img{
        width: 100%;
      }
      
      
      
      .running-container-title >.btn-primary{
        margin: auto;
        width: 280px;
      }


      /* bmi-calculate responsive */
      .bmi-container{
        flex-direction: column;
        gap: 60px;
        justify-content: center;
        align-items: center;
      }
      /* our team section responsive stars here */
      .our-team-img-container {
        width: 80%;
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
      .team-img-card{
        width: 100%;
      }
      .team-img-title{
        
        top: 230px;
        left: 20px;
      }
      #team-img-one, #team-img-four{
        display: none;
      }
      #team-img-three{
        order: 2;

      }
      #team-img-six{
        order: 4;

      }
      /* our team section responsive stars here */
}