@media screen and (max-width:576px) {
    .nav-options{
        display: none;
    }
   .nav-container > .hamburger{
      display: block;
    color: aliceblue;
    }
    .header-container{
        
        background: linear-gradient(180.00deg, rgb(41, 40, 40),#151414e4 100%);
       
      }
    .header-content{
        flex-direction: column;
    }
    .header-content-title > h1{
        font-size: 44px;
    }
    .header-content-title > p{
        width: 250px;
        font-size: 14px;
    }
    .header-content-img-btn{
        left: 0px;
    }
    /* header section ends here */


    /* banner section styles starts here */
    .card-container{
      width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
      .banner-content-title > h2{
        padding: 15px 0px 10px 0px;
        font-size: 35px;
      }
      .banner-content-title > p{
        padding: 5px 0px 5px 0px;
        font-size: 15px;
     
      }

      /* running section starts here */
      .running-container{
        margin: 0 20px;
        flex-direction: column;
        gap: 25px;
      }
}