@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
    
  }
/* shared style */
*{
    margin: 0;
}
p{
    font-size: 15px;
    color: rgba(240, 248, 255, 0.527);
}
.btn-primary{
   
    background-color: #E6533C;
    border-radius: 40px;
    border: none;
    padding: 8px 12px;
    color: aliceblue;
    padding: 12px 25px;

  }

  /* header styles stars here */
  .header-container{
    border: 1px solid red;
    max-width: 1440px;
    max-height: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(19, 17, 17, 0.76) 100%);;
   filter: brightness(-100);
  }
  /* navber section styles here */

  .nav-container > h3{
    color: #E6533C;
  }
  .nav-container{
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
  }
  .nav-options{
    display: flex;
    gap: 20px;
    color: whitesmoke;
  }
  .nav-btn{
    border: none;
    background: #E6533C;
    color: aliceblue;
    border-radius: 40px;
    padding: 5px 15px;
  }
/* nav section ends here */


/* header content styles here */
  .header-content-title{
    max-width: 30%;
  margin: 80px auto;
  }
  h1{
    color: aliceblue;
    font-size: 55px;
    font-weight: 900;
  }
 
  #download-btn{
   background: none;
    color: aliceblue;
    padding: 12px 25px;
    border-radius: 40px;
    border: 1px solid whitesmoke;

  }
  .header-btn{
    margin: 30px auto;
    gap: 20px;
  }