@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
    
  }
  @font-face {
    font-family: 'miama';
    src: url(./fonts/Miama.ttf);
    font-weight: 200;
    font-style:normal;
    font-size: normal;
  }

/* shared style */
*{
    margin:0;
}
.body-container{
  background: #000000;
  max-width: 1440px;
  margin: 0 auto;
}
p{
    font-size: 15px;
    color: rgba(240, 248, 255, 0.527);
}
.btn-primary{
   width: 160px;
   height: fit-content;
    background-color: #E6533C;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    color: aliceblue;
    padding: 12px 30px;

  }

  /* header styles stars here */
  .header-container{
    max-width: 1440px;
    max-height: 100%;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(41, 40, 40),rgba(21, 20, 20, 0.674) 100%);
   
  }
  /* navber section styles here */

  .nav-container > h3{
    color: #E6533C;
    font-size: 2.5rem;
  }
  .nav-container{
    max-width: 1000px;
    padding: 40px 20px 10px 20px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  .nav-options{
    display: flex;
    border: 1px solid rgba(95, 91, 91, 0.735);
    border-radius: 20px;
    gap: 20px;
    padding-right: 8px;
    align-items: center;
    color: rgba(210, 208, 208, 0.811);
  }
  .nav-btn{
    border: none;
    background: #E6533C;
    color: aliceblue;
    border-radius: 40px;
    padding: 5px 15px;
  }
  .hamburger{
   display: none;
  }
/* nav section ends here */


/* header content styles here */
.header-content{
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}
  .header-content-title{
    width: 1000px;
  margin: 80px auto;
  }
  h1{
    color: aliceblue;
    font-size: 67px;
    font-weight: 900;
  }
  .header-content-title > h1{
    max-height: 300px;
    
  }
 
  #download-btn{
    width: 160px;
    margin-left: 20px;
   background: none;
    color: aliceblue;
    padding: 12px 30px;
    border-radius: 40px;
    border: 1px solid whitesmoke;
  }
  .header-btn{
    margin: 30px auto;
  }
  .circle{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #E6533C ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E6533C;
  }
  .header-content-img{
    margin-bottom: -5px;
    position: relative;
  }
  .header-content-img-btn {
    position: absolute;
    top: 400px;
    right: 250px;
    width: 135px;
    display: flex;
    gap: 10px;
    color: aliceblue;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(77, 74, 74, 0.799);
  }
  .header-content-img-btn-two{
  top: 120px;
  position: absolute;
  left: 200px;
    width: 109px;
    display: flex;
    gap: 10px;
    color: aliceblue;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(77, 74, 74, 0.799);
  }
  .header-img-content-btn{
    width: 100%;
  }
  .header-img-content-btn h4{
    font-size: 25px;
  }
  /* ends header section here */







  /* starts main section here */

  /* starts banner section here */

.banner-container{
  max-width: 1440px;
}
   h2{
    color: aliceblue;
    font-size: 30px;
   }
.banner-content-title{
 
   text-align: center;
}
.banner-content-title > h2{
  padding: 35px 0px 20px 0px;
}
/* card styles */
.card{
margin: 30px auto;  
  max-width: 300px;
  gap: 20px;
   text-align: center;

}
.card > img{
  border-radius: 50%;
}
h6{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-container{
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}



/* running section style here */
.running-container{
  max-width: 850px;
  backdrop-filter: blur(154px);
  background: #5c585860;
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 60px;
  display: flex;
  padding: 17px 20px 17px 40px;
  justify-content: space-between;
}
.running-container-title{
  width: 300px;
  display: grid;
  gap: 15px;
}
.running-img img{
  width: 250px;
  height: 100%;
  border-radius: 15px;
}
/* running section ends here */



/* BMI Calculator section starts here */

.bmi-heading-title{
  display: grid;
  justify-content: center;
  align-items: center;
}
.bmi-heading-title > h1{
  margin-top: 65px;
}
.bmi-heading-title > p{
  margin-bottom: 50px;
  margin-top: 20px;
}
.bmi-container{
  max-width: 1440px;
  background: #5c585860;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 15px;
}
.bmi-chart-table{
  margin-top: 40px;
}
table{
  border-collapse:collapse;
}
th{
  color: white;
  height: 30px;
  border: 1px solid gray;

}
td{
  color: darkgray;
  width: 170px;
  padding-left: 20px;
  height: 30px;
  border: 1px solid gray;
}
.calculate-bmi{
  width: 350px;
}
.calculate-bmi-text > p{
  margin-top: 10px;
}
.calculate-bmi > button{
  margin-top: 15px;
}
.input-field{
  display: grid;
  margin-top: 20px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);


}
.input-field > input{
  text-decoration: white;
  background: rgba(128, 128, 128, 0.69);
  gap: 20px;
  height: 27px;
  padding-left: 10px;
  color:rgba(255, 255, 255, 0.801);
  border-radius: 10px;

  border: 1px solid gray;
}
::placeholder{
  color:rgba(255, 255, 255, 0.801);
}
select{
  width: 176px;
  background: rgba(128, 128, 128, 0.69);
  height: 30px;
  padding-left: 10px;
  color:rgba(255, 255, 255, 0.801);
  border: 1px solid gray;
  border-radius: 10px ;
}
#input-select{  padding-left: 10px;
  background: rgba(128, 128, 128, 0.69);

  width: 363px;
  margin-top: 10px;
  color:rgba(255, 255, 255, 0.801);
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px ;
}


/* BMI Calculator section ends here */



/* our-team section starts here */

.our-team-title{

  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}
.our-team-img-container{
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  background: #5c585860;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
}
.team-img-card{
  position: relative;
    
}
.team-img-card >img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  

}
.team-img-title{
  position: absolute;
  top: 200px;
  left: 20px;
}

/* our-team section ends here */

/* ends main section here */


/* footer section styles here */
footer{
  padding-top: 60px; padding-bottom: 30px;
}
.footer-container{
  max-width: 1440px;
  padding: 50px 80px 0px 80px;
  background: #5c585860;
  margin-right: 15px;
}
.colum-one{
  display: grid;
  gap: 10px;
  
}
.colum-one> h3{
color: #E6533C;
height: 0px;
font-size: 2.5rem;
}
.colum-one > p{
  font-size: 10px;
}
.Colum-two, .Colum-three{
  display: grid;
  gap: 20px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
}

.footer-container > p{
  justify-content: center;
 
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: flex-end;
    display: flex;
}