@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
    
  }
/* shared style */
*{
    margin: 0;
}
p{
    font-size: 15px;
    color: rgba(240, 248, 255, 0.527);
}
.btn-primary{
   
    background-color: #E6533C;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    color: aliceblue;
    padding: 12px 30px;

  }

  /* header styles stars here */
  .header-container{
    border: 1px solid red;
    max-width: 1440px;
    max-height: 100%;
    margin: 0 auto;
    background: linear-gradient(-180.00deg, rgb(17, 17, 17),rgba(21, 20, 20, 0.9) 100%);;
   backdrop-filter: brightness(-100);
  }
  /* navber section styles here */

  .nav-container > h3{
    color: #E6533C;
  }
  .nav-container{
    max-width: 1000px;
    padding: 10px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
   
  }
  .nav-options{
    display: flex;
    gap: 20px;
    color: whitesmoke;
  }
  .nav-btn{
    border: none;
    background: #E6533C;
    color: aliceblue;
    border-radius: 40px;
    padding: 5px 15px;
  }
/* nav section ends here */


/* header content styles here */
.header-content{
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}
  .header-content-title{
    
  margin: 80px auto;
  }
  h1{
    color: aliceblue;
    font-size: 75px;
    font-weight: 900;
  }
 
  #download-btn{
    margin-left: 20px;
   background: none;
    color: aliceblue;
    padding: 12px 30px;
    border-radius: 40px;
    border: 1px solid whitesmoke;

  }
  .header-btn{
    margin: 30px auto;
  }
  .circle{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #E6533C ;
    border-radius: 50%;
    border: 2px solid #E6533C;
  }
  .header-content-img{
    position: relative;
  }
  .header-content-img-btn {
    position: absolute;
    top: 400px;
    right: 250px;
    width: 135px;
    display: flex;
    gap: 10px;
    color: aliceblue;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(77, 74, 74, 0.799);
  }
  .header-content-img-btn-two{
  top: 120px;
  position: absolute;
 
    right: -40px;
    width: 135px;
    display: flex;
    gap: 10px;
    color: aliceblue;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(77, 74, 74, 0.799);
  }